.contacto {
    background: linear-gradient(to bottom, #8F9C92, #7C8A95);
    font-size: 1.4em;
}
.contacto h1 {
    text-align: center;
    margin: 0px;
    padding: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 650px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.textarea {
    width: 650px;
    height: 35px;
    border-radius: 5px;
}
.form button {
    margin: 10px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    margin-bottom: 40px;
}
.form button:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    cursor: pointer;
  }
  @media (max-width: 750px) {
    .input {
        width: 85vw;
    }
    .textarea {
        width: 85vw;
    }
    .contacto h1 {
        font-size: 1.2em;
        padding: 15px 0 15px 0;
    }
    }
    @media (max-width: 350px) {
        .contacto label {
            font-size: 0.7em;
        }
    }