.sistemaContainer {
  background: linear-gradient(to bottom, #e5f4ff, #c0c0c0);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
.pantallaCentral {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 4.5em;
    margin: 0;
    height: 30vh;
}
.buttonAleatorio{
  margin-top: 20px;
}
.panelAndList {
    display: flex;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    min-height: 60vh;
}
.inputPanel {
    height: 4vh;
    width: 400px;
    border-radius: 7px;
    display: block;
    margin-bottom: 7px;
}
.inputAndButton {
    text-align: center;
}
.buttonPanel {
    display: block;
    height: 5vh;
    width: 404px;
    border-radius: 7px;
    font-size: 1rem;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
}
.buttonPanel:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    cursor: pointer;
  }
.formDePalabra {
    border: 2px solid black;
    position: relative;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    background-color: azure;
    max-height: 40vh; 
    overflow-y: auto;
}
.formDePalabra2 {
    border: none;
    position: relative;
    padding: 10px;
    width: 20vw;
    border-radius: 10px;
}
.lista {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
  }
  .basurero {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 5px;
    width: 35px;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .basurero:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    cursor: pointer;
  }
  i {
    text-align: center;
  }
  .buttonAleatorio {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
  }
  .buttonAleatorio:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004799;
    cursor: pointer;
  }
  
  @media (max-width: 900px){
    .sistemaContainer{
      height: auto;
    }
    .pantallaCentral {
      padding: 10vh 60px 0 60px;
      font-size: 3.5em;
      height: auto;
    }
    .panelAndList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vw;
    }
    .inputPanel {
        width: 80vw;
    }
    .buttonPanel {
        width: 81vw;
    }
    .formDePalabra {
        width: 70vw;
    }
    .buttonAleatorio{
      width: 200px;
      height: 7vh;
    }
  }
  @media (max-width: 370px){
    .pantallaCentral {
    font-size: 3em;
  }
  }
  
  @media (max-width: 290px){
    .pantallaCentral {
    font-size: 2em;
  }
  }
  @media (min-height: 1300px){
    .pantallaCentral {
      font-size: 11em;
      margin-top: 14vw;
      padding: 160px 140px 40px 160px;
  }
    .buttonAleatorio {
      width: 70vw;
      height: 7vh;
      border-radius: 40px;
      font-size: 3em;
  }
    .panelAndList {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5vw;
      font-size: 3.3em;
      }
      .inputPanel {
        width: 80vw;
        font-size: 0.7em;
        border-radius: 15px;
      }
      .buttonPanel {
        width: 80vw;
        font-size: 0.7em;
        border-radius: 30px;
      }
      .formDePalabra {
        width: 70vw;
        max-height: 31vh;
        border-radius: 40px;
        border: 5px solid black;
      }
      .basurero {
        border-radius: 15px;
        width: 8vw;
        height: 4vh;
        font-size: 0.8em;
      }
  }
  @media (min-height: 3039px){
    .pantallaCentral {
      font-size: 11em;
      margin-top: 14vw;
      padding: 160px 140px 40px 160px;
  }
    .buttonAleatorio {
      width: 70vw;
      height: 7vh;
      border-radius: 40px;
      font-size: 4em;
  }
    .panelAndList {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5vw;
      font-size: 4em;
      }
      .inputPanel {
        width: 80vw;
        font-size: 0.7em;
        border-radius: 25px;
      }
      .buttonPanel {
        width: 80vw;
        font-size: 0.7em;
        border-radius: 40px;
      }
      .formDePalabra {
        width: 70vw;
        max-height: 35vh;
        border-radius: 40px;
      }
      .basurero {
        border-radius: 15px;
        width: 8vw;
        height: 4vh;
        font-size: 0.8em;
      }
  }